body {
    margin: 0;
    padding: 0;
    position: relative;
}
h1,h2,h3,h4,h5,h6,span,p{
    margin: 0;
    padding: 0;
}

.stade {
    background-image: url(/src/assets/img/stadium_background.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
   
}


.attaque, .milieu, .defense, .garde {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.attaque .card-imag, .milieu .card-imag, .defense  .card-imag, .garde  .card-imag {
    background-image: url(/src/assets/img/badge_gold.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18vw; 
    aspect-ratio: 252 / 350;
    margin: auto;
    display: flex;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;  
}
.garde  .card-imag {
    background-image: url(/src/assets/img/badge_ballon_dor.webp);
    color: #ccc;
}

.attaque .card-imag:hover, .milieu .card-imag:hover, .defense .card-imag:hover, .garde .card-imag:hover {
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(203, 228, 17, 0.509);
    filter: drop-shadow( 0 10px 10px rgba(17, 228, 186, 0.509))
}
.garde  .card-imag:hover {
   
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(228, 17, 151, 0.509);
    filter: drop-shadow( 0 10px 10px rgba(228, 77, 17, 0.509))
    
}
.reserve {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%; 
 
  overflow-x: auto; 
  overflow-y: hidden; 
  border: 2px solid #ccc; 
  padding: 10px;
  background-color: #d22b2b;
  scroll-behavior: smooth;
  margin: 0 auto;
  scrollbar-width: none;
}


.reserve .card-imag {
  background-image: url(/src/assets/img/badge_gold.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18vw; 
    aspect-ratio: 252 / 350;
    margin: auto;
    display: flex;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease; 
    flex-shrink: 0;
}
.reserve .card-imag:hover {
  transform: scale(1.1);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(203, 228, 17, 0.509);
  filter: drop-shadow( 0 10px 10px rgba(17, 228, 186, 0.509))
}

.card-imag{
   display: flex;
   align-items: center;
   flex-direction: column;
   position: relative;
}
.card-imag-jouer{
        background-image: url();
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        width: auto; 
        height: 50%; 
        aspect-ratio: 1 / 1;
        margin-top:20% ;
}
.position-number{
    display: flex;
    height: 35px;
    margin-top: 15%;
    margin-right: 80%;
    flex-direction: column;
}
.position-number .number{
    font-size: 1.4vw;
  font-weight:900 ;
}
.position-number .position{
    font-size: 1.2vw;
  font-weight:900 ;
}
.nom-jouer h5{
    font-size: 8px;
}
.pac-sho-pas-dri-def-phy{
    display: flex;
    gap: 4px;
}
.condition-physique{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.condition-physique-nom{
    font-size:1vw;
   color: rgb(17, 15, 15);
}
.condition-physique-nomber{
    font-size: 1.2vw;
    font-weight: 700;
}
.les-drapeau{
    display: flex;
    justify-content: center;
    width: 85%;
}
.les-drapeau div{
    width: 30%;
   
    display: flex;
    justify-content: center;
    
}
.les-drapeau div img{
    width: 50%;
    border-radius: 20%;
}

.formul {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.769);
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 20px; 
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%; 
    color: #fff;
    display: none;
  }
 #player-form{
    display: grid;
    grid-template-columns:repeat(2,1fr); 
    gap: 10px; 
    padding: 10px;
 }
  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 10px;
  }
  .form-group input,
  .form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 10px;
  }
  .button-and{
    display: flex;
    justify-content:center;
    gap: 10px;
  }
  .button-start{
    display: flex;
  }
  
  .button-and button {
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    width: 100px;

  }
  #btnAddJoueur{
    background-color: #007906;
  }
  #btnAddJoueur:hover {
    background: #06e311;
  }
  #btnDeleteJoueur{
    background-color: #e30000;
  }
  #btnDeleteJoueur:hover {
    background: #ff3333;
  }
  #btnUpdetJoueur{
    background-color: #0a0079;
  }
  #btnUpdetJoueur:hover {
    background-color: #1d39c6;
  }
 
  #btnHideForm {
   
    background: #a40a0a;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    width: 40px;
    height: 40px;
  }
  
  #btnHideForm:hover {
    background: #ff0202;
  }
#feckDiv{
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #0a00793a;
 
}

 
 